<!DOCTYPE html>
<html>
<head>
    <title>Statistics for {{ dag_address }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <div class="shadow container mt-5 bg-light rounded text-success font-monospace">
        <h1 class="text-center mb-5">Statistics for {{ dag_address }}</h1>
        <img src="{{ plot_path }}" class="mx-auto d-block" alt="plot">
        <p></p>
        <p class="fs-2 fw-bolder">30 DAY STATS</p>
        <span class="border rounded border-white">
            <div class="fs-3 text-right row">
                <p><b>Effectivity Score</b></p>
                <div class="fs-5 text-right row">
                    <p class="fw-lighter">Description</p>
                </div>
                <p>{{ effectivity_score }} (0 = best)</p>
            </div>
        </span>
        <div class="row">
            <span class="border rounded border-white">
                <div class="fs-3 text-right row">
                    <p><b>Earner Score</b></p>
                    <div class="fs-5 text-right row">
                        <p class="fw-lighter">Description</p>
                    </div>
                    <p>{{ earner_score }}/{{ count }} ({{ percent_earning_more }}% are earning more)</p>
                </div>
            </span>
        </div>

        <div class="row">
            <span class="border rounded border-white">
                <div class="fs-3 text-right row">
                    <p><b>Earnings</b></p>
                    <div class="fs-5 text-right row">
                        <p class="fw-lighter">Description</p>
                    </div>
                    <p>$DAG {{ dag_address_sum }} (Average daily earnings: {{ dag_address_daily_mean }} plus/minus {{ dag_address_daily_std_dev }})</p>
                </div>
            </span>
        </div>
        <div class="row">
            <span class="border rounded border-white">
                <div class="fs-3 text-right row">
                    <p><b>Earnings Deviation</b></p>
                    <div class="fs-5 text-right row">
                        <p class="fw-lighter">If the result is positive you're earning the positive amount more than the average network earnings per node. If the result is negative you're earning the negative amount less than the average network earnings per node. </p>
                    </div>
                    <p>$DAG {{ dag_address_sum_dev }}</p>
                </div>
            </span>
        </div>
    </div>
</body>
</html>
