<!DOCTYPE html>
<html>
<head>
    <title>Nodebot App - Statistics and Metrics</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9TI6ENt6MwpzYhPm5U9K/7BztjsVCOsHh3RmA" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>

       body {
            background-color: #231f20;
        }
        sup {
            font-size: 0.6em;
            color: #707374;
        }
        .bg-primary {
            background-color: #007484 !important;
        }
        .container {
            display: flex;
        }
        .box {
            flex: 1;
            background-color: #231f20 !important;
        }
        .frame {
            min-width: 20em;
            max-width: 80em;
            background-color: #3d3d3d !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid d-flex flex-column" style="max-width: 80em;">
        <nav class="navbar navbar-expand-lg navbar-dark w-100" style="max-width: 80em; background-color: #231f20 !important">
            <div class="container">
                <a class="navbar-brand" href="#home">
                  <img src="../../static/logo/banner-color.png" style="width: 100%; max-width: 15em; min-width: 10em;" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/pages/statistics">Statistics and Metrics</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://discord.gg/WHwSdWJED3" target="_blank">Discord</a>
                            <a class="dropdown-item" href="https://github.com/buzzgreyday/hgtp-node-discord-bot" target="_blank">Github</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://x.com/buzzgreyday" target="_blank">Twitter</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="/pages/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row d-flex">
            <div class="box ml-3 mr-3 mt-3 mb-3">
                <!-- Rewards Section -->
                <div class="shadow container-sm rounded-top bg-primary" style="min-width:20em; max-width:80em;">
                    <div class="h3 ml-3 mb-0 fw-bold" style="color: #f1f2f2;">Rewards</div>
                </div>
                <div class="shadow container-sm rounded-bottom frame" style="color: #f1f2f2;">
                    <div>
                        <iframe src="../../static/{{ rewards_plot_path }}" class="d-block mx-auto" id="reward_plot" frameborder="0">Reward plot</iframe>
                        <p class="m-1 text-center" style="font-size:0.6em; color: #f1f2f2;">The threshold between red/green equals the network median</p>
                    </div>
                </div>
            </div>

            <div class="box ml-3 mr-3 mt-3 mb-3">
                <!-- Stats Section -->
                <div class="shadow container-sm rounded-top bg-primary" style="min-width:20em; max-width:80em;">
                    <div class="h3 ml-3 mb-0 fw-bold" style="color: #f1f2f2;">Reward Metrics and Statistics</div>
                </div>
                <div class="shadow container-sm rounded-bottom frame" style="color: #f1f2f2;">
                    <!-- 30D Node Earnings Overview -->
                    <div class="mb-3">
                        <p class="h5 ml-3" style="background-color: #3d3d3d; color: #00b4cd;">30D</p>
                        <p class="font-weight-bold ml-3"> Node Earnings Overview</p>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Node Earnings:</span>
                            <span>{{ dag_address_sum }} DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Cost:</span>
                            <span>{{ usd_address_sum }} USD</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Price:</span>
                            <span>{{ dag_earnings_price_now }} USD</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span></span>
                            <span>${{ dag_price_now }}/DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Gain/Loss:</span>
                            <span>{{ dag_earnings_price_now_dev }} USD</span>
                        </div>
                        <p class="ml-4 mb-1" style="font-size: 0.6em; color: #707374;">The price of $DAG is calculated based on data from {{ dag_price_now_timestamp }} UTC</p>
                    </div>

                    <!-- 30D Node Yield Metrics -->
                    <div class="mb-3">
                        <p class="font-weight-bold ml-3">Node Yield Metrics</p>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Monthly Percentage Yield:</span>
                            <span>{{ calculated_mpy }}%</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Est. Annual Percentage Yield:</span>
                            <span>{{ estimated_apy }}%</span>
                        </div>
                    </div>

                    <!-- 30D Node Earnings Metrics -->
                    <div class="mb-3">
                        <p class="font-weight-bold ml-3">Node Earnings Metrics</p>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Outperformers<sup>*</sup>:</span>
                            <span>{{ percent_earning_more }}%</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Outperformers (low)<sup>**</sup>:</span>
                            <span>{{ above_dag_address_std_dev_low }} DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Outperformers (high)<sup>**</sup>:</span>
                            <span>{{ above_dag_address_std_dev_high }} DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Avg. Potential:</span>
                            <span>+{{ above_dag_address_deviation_from_mean }} DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>High Potential:</span>
                            <span>+{{ above_dag_address_deviation_from_highest_earning }} DAG</span>
                        </div>
                    </div>

                    <!-- 30D Network Earnings -->
                    <div class="mb-3">
                        <p class="font-weight-bold ml-3">Network Earnings</p>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Avg. Node Earnings<sup>*</sup>:</span>
                            <span>{{ dag_median_sum }} DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Highest Node Earnings:</span>
                            <span>{{ dag_highest_earner }} DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Minted Total:</span>
                            <span>{{ dag_minted_for_validators }} DAG</span>
                        </div>
                    </div>

                    <!-- 1D Node Earnings -->
                    <div class="mb-3">
                        <p class="h5 ml-3" style="background-color: #3d3d3d; color: #00b4cd;">1D</p>
                        <p class="font-weight-bold ml-3">Node Earnings</p>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Average:</span>
                            <span>{{ dag_address_daily_mean }} DAG</span>
                        </div>
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Est. Daily Earnings Variability:</span>
                            <span>{{ dag_address_daily_std_dev }} DAG</span>
                        </div>
                        <p class="ml-4 mb-1" style="font-size:0.6em; color: #707374;">(*) Extreme outliers included (e.g. Stardust Collective, etc.)</p>
                        <p class="ml-4 mb-1" style="font-size:0.6em; color: #707374;">(**) The low and high values are standardized</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row d-flex">
            <div class="box ml-3 mr-3 mt-3 mb-3">
                <div class="shadow container-sm rounded-top bg-primary" style="min-width:20em; max-width:80em;">
                    <div class="h3 ml-3 mb-0 fw-bold" style="width:100%; color: #f1f2f2;">CPU</div>
                </div>
                <div class="shadow container-sm rounded-bottom justify-content-center" style="min-width:20em;max-width:80em;background-color: #3d3d3d !important;">
                    <div>
                        <iframe src="../../static/{{ cpu_plot_path }}" class="d-block mx-auto" id="cpu_plot" frameborder="0">CPU plot</iframe>
                    </div>
                </div>
            </div>
            <div class="box ml-3 mr-3 mt-3 mb-3">
                <div class="shadow container-sm rounded-top bg-primary" style="min-width:20em; max-width:80em;">
                    <div class="h3 ml-3 mb-0 fw-bold" style="color: #f1f2f2;">CPU and Disk Metrics</div>
                </div>
                <div class="shadow container-sm rounded-bottom" style="background-color: #3d3d3d; color: #f1f2f2;">
                    {% for dict in metric_dicts %}
                    <div class="mb-3">
                        <p class="h5 ml-3" style="background-color: #3d3d3d; color: #00b4cd;">{{ dict.ip }} layer {{ dict.layer }} ({{ dict.public_port }})</p>
                        <!-- CPU Load -->
                        <div class="d-flex justify-content-between ml-4 mb-2">
                            <span>Daily CPU Load:</span>
                            <span>{{ dict.daily_cpu_load | round(2) }} / {{ dict.cpu_count }}</span>
                        </div>

                        <!-- Disk Space -->
                        <div class="d-flex justify-content-between ml-4 mb-3">
                            <span>Free Disk Space:</span>
                            <span>{{ dict.disk_free | round(2) }} of {{ dict.disk_total | round(2) }} GB</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <footer class="text-dark">
        <p class="m-1 text-center" style="font-size: 0.6em; color: #707374;">v0.0.15 by Buzz Greyday (aka. hgtp_Michael)</p>
    </footer>
    <script>
        var reward_frame = document.getElementById('reward_plot');
        var cpu_frame = document.getElementById('cpu_plot');
        var isMobile = window.innerWidth < 768; // Example mobile width threshold: 768

        if (isMobile) {
            reward_frame.width = "300";
            reward_frame.height = "200"; // Adjust height for mobile
            cpu_frame.width = "300";
            cpu_frame.height = "200";
        }
        else {
            reward_frame.width = "600";
            reward_frame.height = "400"; // Adjust height for mobile
            cpu_frame.width = "600";
            cpu_frame.height = "400";
        }
    </script>
</body>
</html>
